# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Never commit real secrets
*.auto.tfvars

# Local DB backups
backups/

# OS/editor
.DS_Store
*.swp
